/* BODY STYLING */
body {
    background-color: rgb(116, 56, 56);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
}
/* BORDER-BOX FOR EVERY ELEMENT */
* {
    box-sizing: border-box;
}
/* LOGO STYLING */
.logo {
    padding: 0;
    width: 100%;
}
.logo img {
    margin-right: 59%;
    margin-bottom: 10px;
}
/* HTML STYLING */
html {
    width: 100%;
    scroll-behavior: smooth;    /* To make the scroll smooth rather than direct */
}
/* NAVIGATION STYLING */
.navigation {
    font-size: 0;  /* To remove gap between in line unordered lists */
    padding: 0;
    margin: 0;        
}
.navigation ul {
    background-color: rgb(160, 43, 43);
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid rgba(0,0,0,0.5);
}
.navigation li {
    font-size: 50px;
    letter-spacing: 0.125em;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 20px;
}
.navigation a {
    color: rgb(233, 223, 223);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
   
}
.navigation ul li:hover {
    background-color: rgb(189, 81, 81);
    transition: ease-in-out 250ms;
    cursor: pointer;
}
.navigation li:hover a {
    color: #3d3632;
    transition: ease-in-out 250ms; 
}
/* SLIDESHOW STYLING, POSITIONING */
.ImageSlider {
    padding: 0;
    margin: 0;
    width: 85.5%;
    height: 500px;
    position: absolute;  
    left: 50%;
    top: 63%;
    transform: translate(-50%, -50%);  /* lines 43-48, to put image in centre and below the nav menu */
    background-image: url('../Images/Slide1.jpg');
    background-size: 100% 100%;     /* Complete image, no change in ratio */
    border: 1px solid black;
    animation: slider 18s infinite linear;  /* Gives about 6s for each image as theres 3 images */
}
.ImageSlider cite {
    padding-right: 1px;
    color: floralwhite;
    font-style: italic;
    font-size: 10px;
    float: right;
    font-weight: bold;
    margin-top: 487px;
}
.ImageSlider cite a {
    text-decoration: none;
    color: orange;
}
.ImageSlider cite a:hover {
    color: yellow;
}
/*  KEYFRAMES FOR THE SLIDE SHOW */
@keyframes slider {
    0%{background-image: url('../Images/Slide1.jpg');}
    5%{background-image: url('../Images/Slide1.jpg');}
    15%{background-image: url('../Images/Slide1.jpg');}
    25%{background-image: url('../Images/Slide1.jpg');}       /* Keyframes used to make slide show */
    30%{background-image: url('../Images/Slide1.jpg');}
    35%{background-image: url('../Images/Slide2.jpg');}
    55%{background-image: url('../Images/Slide2.jpg');}      /* Images in the slideshow appearing at certain percents of the total time (18s) */
    65%{background-image: url('../Images/Slide2.jpg');}
    75%{background-image: url('../Images/Slide3.jpg');}      
    85%{background-image: url('../Images/Slide3.jpg');}      /* Images repeated to increase their show time */
    95%{background-image: url('../Images/Slide3.jpg');}
}
/* MEDIA QUERIES */
/* RESPONSIVE WEBSITE FOR LAPTOP SCREEN */
@media screen and (max-width: 1440px) {
    .ImageSlider {
        top: 72%;
    }
}
/* RESPONSIVE WEBSITE FOR TABLETS (ROUGHLY 768PX) */
@media screen and (max-width: 768px) {
    .ImageSlider {
        display: none;
    }
    .navigation ul {
        display: inline-block;
    }
    .navigation li {
        font-size: 8px;
        padding: 15px;
    }
    .logo {
        margin-left: 25%;
    }
    .logo img {
        margin-top: 10px;
    }

}
/* RESPONSIVE WEBSITE FOR MOBILE PHONES (ROUGHLY 375PX) */
@media screen and (max-width: 376px) {
    .navigation {
        display: none;
    }
    .logo {
        margin: 0;
    }
    .logo img {
        height:auto;
        width: 375px;
        margin-top: 50px;
    }
}
